
<table class="sortable">
	<tr>
		<th> From </th>
		<th> To </th>
		<th> Cost </th>
		<th> Peak kW </th>
		<th> Total kW </th>
	</tr>
	{{#each data}}
	<tr>
		<td> {{this.attributes.initial}} </td>
		<td> {{this.attributes.closing}} </td>
		<td> ${{this.attributes.cost}} </td>
		<td> {{this.attributes.peak}} kW </td>
		<td> {{this.attributes.used}} kW </td>
	</tr>
	{{/each}}
</table>