<!DOCTYPE html>

<html>
	<head>
		<title> {{title}} </title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.min.js"></script>
		<link href="/styles/style.css" rel="stylesheet">
		<script src="/scripts/main.js"></script>
		<script src="/lib/sorttable.js"></script>
		<script src="/templates/templates.js"></script>
	</head>
	<body>
		<div id="header">
			{{title}}
		</div>
		<div id="sidebar">
			<button id="viewBillsButton" class="button" type="button">View Bills</button>
			<button id="clearButton" class="button" type="button">Clear</button>
		</div>
		<div id="container">
			<div id="main">
				{{{content}}}
			</div>
		</div>
	</body>
</html>