
html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 10pt;
}

#header {
	width: 100%;
	height: 35px;
	padding-top: 8px;
	padding-left: 5px;

	font-size: 12pt;
	font-weight: bold;
	text-shadow: 2px 2px 5px black;
	background-color: #459AF1;
	color: white;
	border-bottom: 5px white outset;
	box-sizing: border-box;
}

#container {
	width: calc(100% - 150px);
	height: calc(100% - 35px);
	float: left;
	overflow-y: auto;

	background-color: #E2C65F;
	box-sizing: border-box;
}

#sidebar {
	position: relative;
	width: 150px;
	height: calc(100% - 35px);
	float: left;
	padding: 5px;

	background-color: white;
	color: gray;
	border-right: 5px white outset;
	box-sizing: border-box;
}

#main {
	position: relative;
	width: 75%;
	margin: auto;

	padding: 5px;
	text-align: center;
}

.button {
    background-color: #4CAF50; 
    border: 1px white outset;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 5px;
}

.button:hover {
    background-color: white;
    border-color: #4CAF50;
    color: #4CAF50;
}

table {
	width: 100%;
	border: 1px outset white;
}

th {
	background-color: white;
	padding: 5px;
	border: 1px outset white;
	cursor: pointer;
}

td {
	background-color: #eeeeee;
	padding: 5px;
	border: 1px inset white;
	text-align: left;
}